[submodule "_.emacs.d"]
	path = _.emacs.d
	url = https://github.com/bbatsov/prelude.git
[submodule "_.tmux/plugins/tpm"]
	path = _.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "_.vim/bundle/neobundle.vim"]
	path = _.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "d_zsh/oh-my-zsh"]
	path = d_zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
