"*":
  "atom-beautify": {}
  "autocomplete-plus": {}
  "autocomplete-python":
    useSnippets: "all"
  core:
    disabledPackages: [
      "autocomplete-haskell"
    ]
  editor:
    fontFamily: "monoid"
    fontSize: 10
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabType: "hard"
  "exception-reporting":
    userId: "c0809060-8a0c-cacd-d92a-2775a2e270a2"
  linter: {}
  minimap:
    plugins:
      "highlight-selected": true
      pigments: true
  "symbols-tree-view":
    autoToggle: true
  tabs: {}
  term2: {}
  term3: {}
  "vim-mode":
    startInInsertMode: true
  welcome:
    showOnStartup: false
